body{
    background-color: rgb(250, 199, 233);
}
/* trtrtrtrt */
img{
    width: 20%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.img-into{
    width: 40%;
}

.intro{
    display: flex;
}