body{
    background-color: rgb(230, 67, 143);
}
/* trtrtrtrt */
img{
    width: 10%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.img-into{
    width: 30%;
}

.intro{
    display: flex;
    margin: 39px;
    background-color: white;
    padding: 30px;
    border: 20px solid rgb(233, 32, 116);
}

#equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    background-color: rgb(228, 41, 103);
    color: #000000;
}

.fotoequipe{
    width: 40%;
}

.introd.cruel{
    display: flex;
    margin: 39px;
    background-color: rgb(197, 101, 154);
    padding: 30px;
 
}